<%- include("header") -%>

    <div class=message-box>
        <h2>Marque: <%= marque %>
        </h2>
        <h2>Couleur: <%= couleur %>
        </h2>
        <h2>Immatriculation: <%= immatriculation %>
        </h2>
    </div>
    <%- include("footer") -%>